<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo à Loja Online</title>
    <script src="../script/logado.js"></script>
    <link rel="stylesheet" href="../style/logado.css">
</head>
<body>

    <div class="container">
        <h3>
            SEJA BEM-VINDO À NOSSA LOJA, PARA COMPRAR ALGO, ACESSE O MENU LATERAL
        </h3>
        <br><br><br>
        <div aria-label="Hamster correndo na roda" role="img" class="wheel-and-hamster">
            <div class="wheel"></div>
            <div class="hamster">
                <div class="hamster__body">
                    <div class="hamster__head">
                        <div class="hamster__ear"></div>
                        <div class="hamster__eye"></div>
                        <div class="hamster__nose"></div>
                    </div>
                    <div class="hamster__limb hamster__limb--fr"></div>
                    <div class="hamster__limb hamster__limb--fl"></div>
                    <div class="hamster__limb hamster__limb--br"></div>
                    <div class="hamster__limb hamster__limb--bl"></div>
                    <div class="hamster__tail"></div>
                </div>
            </div>
            <div class="spoke"></div>
        </div>
    </div>
</html>
