<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login no Sistema</title>
    <link rel="stylesheet" href="../style/login.css">
    <script>
        function log(){
            document.getElementById('login').focus()
        }
    </script>
</head>
<body onload="log()">
    <h1>Login no Sistema</h1>
    <form action="/login" method="post">
        <label for="login">Login:</label>
        <input type="text" id="login" name="txtLogin" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="txtSenha" required>

        <input type="submit" name="b1" value="Logar">
    </form>
</body>
</html>
