<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../style/topo.css" />
    </head>

    <body>
        <div class="topo">
            <a href="login.html" target="principal"><h1>Login</h1></a>
            <a href="cadastrar.html" target="principal"><h1>Cadastrar</h1></a>
            <form action="/carrinho" method="post" target="principal">
                <!-- Aqui definimos o target -->
                <input
                    type="submit"
                    value="CARRINHO"
                    id="carrinho"
                    name="carrinho"
                />
            </form>
        </div>
    </body>
</html>
