<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../style/departamento.css" />
    </head>
    <body>
        <div class="menu">
            <% for(i = 0; i < tabela.rowCount; i++) { %>
            <a
                href="/ListarProdutos/<%=tabela.rows[i].codigo%>"
                target="principal"
            >
                <h1><%=tabela.rows[i].nome %></h1>
            </a>
            <% } %>
        </div>
    </body>
</html>
